         <!-- This is a bootstrap class specifically for tables. We can use this here because all of the body is already wrapped in the bootstrap container class in the application.html.erb file
         
            Ths "form-group" and "form-input" classes are special to bootstrap as well-->
<div class="row">
         <div class="col-md-4 col-md-offset-4"> <!-- Bootstrap class to center form (4 columns wide, offset 4 columns to center -->
             <div class="well">     <!-- Boostrap class to add brey background to form -->
                 <%= form_for @contact do |f| %>
                    <div class="form-group">  
                        <%= f.label :name %>
                        <%= f.text_field :name, class: "form-control" %>     <!-- You can add a bootstrap class inline as well -->
                    </div>
                    
                    <div class="form-group">
                        <%= f.label :email %>
                        <%= f.email_field :email, class: 'form-control' %>
                    </div>
                    
                    <div class="form-group">
                        <%= f.label :comments %>
                        <%= f.text_area :comments, class: 'form-control' %>
                    </div>
                    
                    <div class="form-group">
                            <!-- this automatically defines where the form details will get sent. Look in the console at the html that is generated for this button. -->
                        <%= f.submit "Submit", class: 'btn btn-default' %>
                    </div>
            </div>
        </div>
    <% end %>
    
</div>